{% extends 'kwakPortfolioBundle:Default:index.html.twig' %}

{% block titles %}
	<div class="title" data-name="animals1">
		<img src="pictures/tumb/3.jpg" class="title">
		<span class="title">Animals 1</span>
	</div>

	<div class="title" data-name="animals2">
		<img src="pictures/tumb/13.jpg" class="title">
		<span class="title">Animals 2</span>
	</div>
{% endblock %}