{% extends 'kwakPortfolioBundle:Default:index.html.twig' %}

{% block titles %}

{% for imgSet in imgSets %}

   	<div class="title" data-name="{{ imgSet.name }}">
		<img src="{{ asset('pictures/tumb/') }}{{ imgSet.imgSrc }}" class="title">
		<span class="title">{{ imgSet.title }}</span>
	</div>

{% endfor %}

{% endblock %}